body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    background: #1F2937;
}

/* header */
.header {
    display: flex;
    align-items: center;
    padding: 8px 100px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
}

.header-list {
    margin-right: 16px;
}

/* intro */
.intro {
    display: flex;
    align-items: center;
    padding: 40px 100px;
    gap: 42px;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

#top-image {
    height: 200px;
}

.top-sign-up {
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0;
}

/* information */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 100px;
    gap: 10px;
    background: white;
}

.horizontal-images {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0;
    color: #1F2937;
    font-size: 14px;
}

.random-img {
    height: 150px;
    border-radius: 20px;
}

.random-list {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    width: 150px;
    margin: 10px 20px;
}

.information .random {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

/* quote-section */
.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 100px;
    gap: 0px;
    background: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: flex-end;
    padding: 0;
}

.quote p {
    margin: 0px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.attribute {
    color: #1F2937;
    font-size: 18px;
    font-weight: 800;
}

/* call-to-action */
.call-to-action-section {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    background: white;
}

.call-to-action-box {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 8px;
    width: 70%;
    padding: 30px 0px;
    /* gap: 0px 100px; */
}

.call-to-action-text p {
    margin: 0;
    color: #F9FAF8;
}

.call-to-action {
    font-size: 24px;
    font-weight: 700
}

.sign-up-instruction {
    font-size: 16px;
}

.bottom-sign-up {
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
} 


/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    padding: 12px 0px;
}
